<h1>Counter Application</h1>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a> &nbsp; &nbsp;
      <a class="nav-item nav-link" href="/counter">Counter</a>
      &nbsp; &nbsp;
      <a class="nav-item nav-link" href="/blog">Blog</a>
    </div>
  </div>
</nav> -->

<!-- <router-outlet /> -->
<app-counterbutton></app-counterbutton>
<app-counterdisplay></app-counterdisplay>
<app-customcomponent></app-customcomponent>
